
<div class="schedule-tbl">
<h2 class="section-title">{{ .titles.schedule }}</h2>

<!-- <p>The time below is tentative.</p>
 -->
  <table>
    <thead>
      <tr>
        <th class="schedule-time">Pacific time</th>
        <th class="schedule-time">Your local time</th>
        <th class="schedule-slot">Title</th>
        <!-- <th class="schedule-description">Abstract</th> -->
        <th class="schedule-pdf">Preparation and proposal</th>
      </tr>
    </thead>
    <tbody>
      {{ range $slot := .schedule }}
        <tr class="schedule-other">
          <td class="schedule-time">{{ time .time "America/Los_Angeles" }}</td>
          <td class="schedule-time">{{ (time .time "America/Los_Angeles").Local }}</td>
          <td class="schedule-slot">{{ .title }} <br><br>  {{ .authors }}</td>
          <!-- <td class="schedule-description">{{ .abstract }}</td> -->
          <td class="schedule-pdf"> {{ if ne .file nil }}
            <a href="./files/{{ .file }}">PDF</a> {{ else }}  {{ end }}</td>
        </tr>
      {{ end }}
    </tbody>
  </table>
</div>